.card {
    width: 20rem;
}
.btn{
    margin-top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    padding: 0 !important;
}

.quant{
    font-size: 30px;
    margin-bottom: 0;
}