$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
$green: #2ade2a;
@import url("./fonts/fonts.css");
@mixin toRem($property, $value) {
    #{$property}: ($value / 16) + rem;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
@media (min-width: $breakpoint-mobile) {
    .navbar-brand {
        img {
            @include toRem(height, 36);
        }
    }
    .container .carousel {
        .carousel-item {
            .carousel-caption {
                h1 {
                    font-family: "Jost";
                    @include toRem(font-size, 46);
                }
                p {
                    font-family: "Muli";
                    font-weight: bold;
                    @include toRem(font-size, 11);
                }
            }
        }
        img {
            object-fit: cover;
            @include toRem(height, 525);
        }
    }
    .job {
        margin: 78px 0 93px;
        article {
            width: 80%;
            h1 {
                font-family: "Jost", sans-serif;
                @include toRem(font-size, 25);
            }
            p {
                font-family: "Muli", sans-serif;
                @include toRem(font-size, 16);
            }
        }
    }
    .circle-container {
        width: 20%;
        height: 100%;
        margin-right: 25px;
    }
    .circle {
        @include toRem(font-size, 22);
        background-color: #ffdd00;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .team-or-individuals {
        width: 100%;
        .shape {
            background-color: #ffdd00;
            width: calc(100% - 30px);
            transition: all 1s;
            padding: 0;
            img {
                max-width: 100%;
                transform: translate(20px, -20px);
                transition: all 1s;
            }  
        }
        .shape:hover{

            transform: translate(20px, -20px);
        }
        img:hover {
            transform: translate(-20px, 20px);
        }
    }
}
