body {
    margin: 0;
}

.contenuti {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
}
.contenuti p{
    font-size: 18px;
}
.section1 a {
    color: white;
}

.banner {
    width: 100%;
    position: relative;
}
.xbox--info{
    width: 100%;
}
.xbox--info img{
    width: 100%;
}
.banner img {
    width: 100%;
}

.banner--figure a {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.section1 h1 {
    transform: translate(0, 20%);
    font-size: 46px;
}

.banner a img {
    width: 50px;
}

.section1 {
    background-color: #000000cf;
    font-size: 16px;
    color: white;
}

.section2 {
    text-align: center;
    margin-top: 50px;
    color: black;
    font-size: 16px;
}

.section3 {
    padding-top: 96px;
}

.section3 a {
    color: #107c10;
    text-decoration: none;
}

.card {
    background-color: #e6e6e6e6;
    width: calc(100% - 10px);
    text-align: center;
    padding: 5px;
    padding-bottom: 20px;
}
.card a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.panel--content h3 {
    font-size: 26px;
}

.panel--content p {
    font-size: 16px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
}

.card--container {
    margin-top: 20px;
}
.section4{
    padding-top: 48px;
}
.section5{
    padding-top: 48px;
    padding-right: 5px;
    padding-left: 5px;
    width: calc(100% - 10px);
}
.section5 h1{
    font-size: 36px;
}
.gamepass--subscription{
    color: white;
    
    font-size: 18px;
}
.sub--link{
    color: white;
}
.subscribe--button{
    font-size: 15px;
    background-color: #9bf00b;
    text-decoration: none;
    padding: 5px 5px 5px 10px;
    color: black;
}
.card--gamepass{
    margin-bottom: 34px;
    padding: 33px 12% 70px 12%;
    background-color: #107c10;   
    font-size: 18px;
}

.gamepass--subscription img{
    width: 90px;
}
.card1{
    background-color: #000000cf;
}
.section6{
    padding: 5px;
    width: calc(100% - 10px);
}
.section6 .icons img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 48px;
    width: 64px;
}
.section6 .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.card4{
    padding: 48px 16px;
}
.card4 h2{
    font-size: 34px;
}
.card4 p{
    padding-top: 24px;
    padding-bottom: 24px;
}

footer{
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: #f2f2f2;
}
.social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.social ul li img{
    padding: 5px;
}
.footer--column{
padding: 0 12px;
}
.footer--column h4{
    padding-top:  36px;
}
.footer--column li{
    font-size: 11px;
    list-style-type: none;
}

