body{
    display: flex;
    justify-content: center;
    background-color: bisque;
}
.registrazione{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    min-height: 200px;
    flex-wrap: wrap;
    border-style: outset;
}

