body {
    display: flex;
    justify-content: center;
    background-color: bisque;
    flex-wrap: wrap;
}

.registrazione {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    min-height: 200px;
    flex-wrap: wrap;
    border-style: outset;
}

.container {
    border-style: outset;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.profile--container {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
}