body {
    margin: 0;
    font-family: Verdana, sans-serif;
}
.container {
    --container--width: 1200px;
    width: var(--container--width);
    margin: 0 auto;
    background-color: red;
}
footer{
    --footer-height: 200px;
    height: 200px;
    background-color: bisque;
    clear:both;
    border-top-style:outset;
    border-color:red;
    width: var(--container--width);
}

.navbar_container{
    height: 4rem;
    width: 1200px;  
    
}
.navbar {
    background-color: beige;
    position:fixed; 
}

.logo img {
    margin: 1px;
    height: 4rem;
    width: auto;
    float: left;
}

.allineamento {
    float: right;
}

.sito {
    display: inline-block;
    float: left;
    margin-top: 1.5rem;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#menu {
    font-family: Verdana, sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#menu li:hover {
    height: 41px; 
    background-color: #ddd;
    color: black;
  }
ul#menu li {
    padding: 1.2rem;
    display: inline-block;
}

ul#menu li a {
    display: block;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}



.container .img__container{
    height: 400px;
}

.box{
    background-color: aqua;
    float: left;
    width: 100%;
}

.box .foto{
    height: 400px;
    width: 400px;
    background-color: blue;
    float: left;
}
.box .desc{
    display: inline-block;
    width: 600px;
    height: 300px;
    background-color: yellow;
    text-align: justify;
    border-style: outset;
    margin-left: 50px;
}
.box .desc__right{
    float: right;
    margin-right: 50px;
}
.box .foto__right{
    float: right;
}
.colonna{
    margin: 0.5rem;
    height: 400px;
}

.footer--logo{
    height: 100px;
    margin-top: 50px;
    margin-left: 2px;
}
.footer--column{
    margin-left: 8px;
    background-color: aquamarine;
    width: 390px;
    display: inline-block;
    height: 200px;
    float: left;
}
.colonna__button{
    height: 40px;
    width: 70px;
    display: inline;
    margin-left: 130px;
}
ul#footer_menu li{
    text-align: center;
    padding: 15px;
}
.social img{
    height: 100px;
    padding: 13px;
    margin-top: 45px;
}