body{
    background-color: beige;
}

a:link {
    color: blue;
  }
  a:visited {
    color: red;
  }
  a:hover {
    color: rgb(171, 8, 171);
  }
  a:active {
    color: blue;
  }
  a:focus{
      color: rgb(200, 12, 12);
  }
img{
    height: 400px;
    width: auto;
}
div{
    font-size: 25px;
}
