.cardContainer {
    flexDirection: "row",
        justifyContent: "space-between",
        backgroundColor: "#fff",
        height: 170,
        width: "100%",
        padding: 15,
        borderRadius: 30,
        alignItems: "center",
        marginVertical: 20,
}

.card {
    flexDirection: "row",
}

.image {
    height: 100,
        width: 100,
        borderRadius: 80,
}

.description {
    fontWeight: "bold",
        padding: 4,
}

.tail {
    padding: 4,
        width: 120,
}