$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
$green: #2ade2a;
@mixin toRem($property, $value) {
    #{$property}: ($value / 16) + rem;
}
@media (min-width: $breakpoint-mobile) {
    .btnSign {
        margin-bottom: 5%;
    }
    .btn {
        color: white;
        background-color: $green;
        border-radius: 5%;
    }
    .navbar {
        margin-bottom: 5%;
        #brand {
            @include toRem(font-size, 20);
        }

        a {
            @include toRem(font-size, 15);
        }
    }
    body {
        .container-fluid h1 {
            @include toRem(font-size, 40);
            width: 100%;
        }
        h3 {
            @include toRem(font-size, 20);
            width: 100%;
        }
        #green {
            color: $green;
        }
    }
    .img-card {
        img {
            width: 100%;
        }
    }
}
@media (min-width: $breakpoint-tablet) {
    .navbar {
        #brand {
            @include toRem(font-size, 35);
        }
        a {
            @include toRem(font-size, 25);
        }
    }
    body {
        .container-fluid {
            h1 {
                @include toRem(font-size, 45);
            }
            h3 {
                @include toRem(font-size, 23);
            }
            #green {
                color: $green;
            }
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    body {
        margin: 0 auto;
        width: 75%;
        .container-fluid {
            h1 {
                @include toRem(font-size, 55);
            }
            h3 {
                @include toRem(font-size, 30);
            }
            #green {
                color: $green;
            }
        }
    }
    .btn {
        @include toRem(font-size, 20);
    }
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
